html p,
li {
  @media (max-width: 650px) {
    font-size: 15px !important;
  }
}

html h1,
h2 {
  @media (max-width: 650px) {
    font-size: 20px !important;
  }
}

b {
  font-weight: 600;
}

body {
  background-color: white;
  color: #030303;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

main {
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: 1150px) {
    padding: 0 30px;
  }

  @media (max-width: 650px) {
    padding: 0;
    width: 300px;
  }
}

.title {
  font-size: 35px;
  text-transform: uppercase;
  line-height: 1.45;
  font-weight: 500;

  b {
    font-weight: 700;
  }

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

i.rub {
  font-family: 'als_rublregular';
  font-weight: normal;
  text-transform: none;
  font-style: normal;
}
